/*  your css code here. If applicable */
.container{
	background-color:rgb(211, 211, 211);
	padding: 10px;
}


ul {
    display: flex; 
    list-style: none;
}

ul li {
    margin-right: 1rem;
}

ul li a {
    text-decoration: none;
    color: black;
}
